<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mini_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,2},{3,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,91}}</string>
                <key>sourceSize</key>
                <string>{3,91}</string>
            </dict>
            <key>wx_banner_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>wx_blue_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,353},{183,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,98}}</string>
                <key>sourceSize</key>
                <string>{183,98}</string>
            </dict>
            <key>wx_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,452},{200,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,101}}</string>
                <key>sourceSize</key>
                <string>{200,101}</string>
            </dict>
            <key>wx_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,689},{261,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,101}}</string>
                <key>sourceSize</key>
                <string>{261,101}</string>
            </dict>
            <key>wx_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,308},{144,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,84}}</string>
                <key>sourceSize</key>
                <string>{144,84}</string>
            </dict>
            <key>wx_challenge_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{233,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,98}}</string>
                <key>sourceSize</key>
                <string>{233,98}</string>
            </dict>
            <key>wx_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,689},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>wx_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,654},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>wx_coin_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,394},{135,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,74}}</string>
                <key>sourceSize</key>
                <string>{135,74}</string>
            </dict>
            <key>wx_coin_disable_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{136,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,74}}</string>
                <key>sourceSize</key>
                <string>{136,74}</string>
            </dict>
            <key>wx_cricleBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,213},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>wx_finished_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,308},{136,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,72}}</string>
                <key>sourceSize</key>
                <string>{136,72}</string>
            </dict>
            <key>wx_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{60,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,84}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>wx_game_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,136},{314,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,315}}</string>
                <key>sourceSize</key>
                <string>{314,315}</string>
            </dict>
            <key>wx_game_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{498,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,134}}</string>
                <key>sourceSize</key>
                <string>{498,134}</string>
            </dict>
            <key>wx_green_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,413},{274,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,105}}</string>
                <key>sourceSize</key>
                <string>{274,105}</string>
            </dict>
            <key>wx_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,785},{89,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,88}}</string>
                <key>sourceSize</key>
                <string>{89,88}</string>
            </dict>
            <key>wx_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,876},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>wx_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,117},{95,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>wx_icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,453},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>wx_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,253},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>wx_orange_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,136},{275,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,105}}</string>
                <key>sourceSize</key>
                <string>{275,105}</string>
            </dict>
            <key>wx_rank_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,253},{183,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,98}}</string>
                <key>sourceSize</key>
                <string>{183,98}</string>
            </dict>
            <key>wx_rectBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,453},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>wx_rewardAd.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,253},{33,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,29}}</string>
                <key>sourceSize</key>
                <string>{33,29}</string>
            </dict>
            <key>wx_rewardShare.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,253},{33,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,29}}</string>
                <key>sourceSize</key>
                <string>{33,29}</string>
            </dict>
            <key>wx_segment.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{596,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,113}}</string>
                <key>sourceSize</key>
                <string>{596,113}</string>
            </dict>
            <key>wx_share_again.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,253},{190,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,88}}</string>
                <key>sourceSize</key>
                <string>{190,88}</string>
            </dict>
            <key>wx_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,785},{85,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,88}}</string>
                <key>sourceSize</key>
                <string>{85,88}</string>
            </dict>
            <key>wx_start_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{399,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,132}}</string>
                <key>sourceSize</key>
                <string>{399,132}</string>
            </dict>
            <key>wx_video.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,952},{60,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,55}}</string>
                <key>sourceSize</key>
                <string>{60,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_wx.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fd9599aeee835881723b9aeb6534877:1/1$</string>
            <key>textureFileName</key>
            <string>ui_wx.png</string>
        </dict>
    </dict>
</plist>
